<!DOCTYPE html>
<html ng-app="TicTacApp">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/new_controller.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
    <div ng-controller="TicTacController" class="container">
     <div id="game" ng-show="true">
       <ul id="teams">
        <li>
          <img src="">
          <h2>Team <span class="team"></span></h2>
          <h3 class="player"></h3>
        </li>
        <li>
          <img src="">
          <h2>Team <span class="team"></span></h2>
          <h3 class="player"></h3>
        </li>
      </ul>
      <div id="board">
        <div ng-repeat='tile in tiles' id='tile{{tile.id}}' class='tile' ng-click='handle_click(tile.id)' ng-class='{active: tile.player != null, combo: is_combo(tile.id)}'>
          {{tile.player.marker}}
        </div>
      </div>
      <div id="results">
        <h1></h1>
        <span class="image"></span>
        <button>play again</button>
      </div>
    </div>
    <div id="overlay">
    </div>
  </div>
  </body>
</html>


